<html ng-app="todoapp">
	<head>
		<title>Using Angular JS Directives and Data Binding</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
		<script type="text/javascript" src="todoController.js"></script>
		<script type="text/javascript" src="todoService.js"></script>
	</head>

	<body >
		<div class="todoContainer" ng-controller="getAllController">
			<h1>ToDo App</h1>
			Search:
			<br/>
				<input placeholder="name" type="text" ng-model="searchtodobyname.name">
			<br/>
				<input placeholder="status" type="text" ng-model="searchtodosbystatus.isDone">
			<br/>
				<input placeholder="object model" type="text" ng-model="searchallcolumns.$">
			<ul>
				<li data-ng-repeat="todo in todos | filter:name"><input type="checkbox"></input>{{ todo.name }} - {{ todo.isDone}} <button>delete</button></li>
				<!--Filters by the name properity that is in our model-->
			</ul>
			<br/>
			<input type="text" data-ng-model="add" /><button>Add</button>
		</div>
	</body>
</html>
