<!DOCTYPE html>
<html>
	<head>
		<title>Using Angular JS Directives and Data Binding</title>
	</head>

	<body ng-app="todoapp">
		<div ng-controller="TodosCtrl">
			<h1>ToDo App</h1>

			Search by:
			<br/>
				<input placeholder="name" type="text" ng-model="search.name">
			<br/>
				<input placeholder="status" type="text" ng-model="searchtwo.isDone">
			<br/>
				<input placeholder="object model" type="text" ng-model="searchfour.$">
			<ul>
				<li data-ng-repeat="todo in todos | filter:name"><input type="checkbox"></input>{{ todo.name }} - {{ todo.isDone}} <button>delete</button></li>
				<!--Filters by the name properity that is in our model-->
			</ul>
			<br/>

			<table>
				<tr>
						<td><strong>Name</strong></td>
						<td><strong>Status</strong></td>
				</tr>
					
				<tr ng-repeat="todo in todos.list | filter:search | filter:searchtwo | filter:searchthree | filter:searchfour">
						<td><input type="checkbox"></input></td>
						<td>{{todo.name}}</td>
						<td>{{todo.isDone}}</td>
						<td><button>delete</button></td>
				</tr>
			</table>

			<input type="text" data-ng-model="add" /><button>Add</button>
	
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	</body>
</html>