<p>
	Total Todo(s): {{getTotalTodos()}}
</p>
<div id="unfinishedTodos">
	<p>
		Unfinished Todos: {{getTotalTodos() - getTotalCheckedTodos()}}
	</p>
	<div id="doneTodos">
		<p>
			Done Todo(s): {{getTotalCheckedTodos()}}
		</p>

		<ul>
			<li data-ng-repeat="todo in todos | filter:name" ng-class="{crossTodo: todo.isDone}" >
				<input type="checkbox" ng-click="toggleChecked(todo)" />
				<input type="text"  value="{{ todo.name  }} - {{todo.isDone}}" />
				<button ng-click="deleteTodo(todo._id)">
					Delete
				</button>
				<a  href="/todos/:id/edit">Edit</a>
			</li>
			<!--Filters by the name properity that is in our model-->
		</ul>
		<br/>
	</div>
</div>