<ul>
	<li data-ng-repeat="todo in todos | filter:name" ng-class="{crossTodo: todo.isDone}" >
		<!-- TODO: Use the checkbox to alter and save the Todo isDone status -->
		<input type="checkbox" ng-click="toggleChecked(todo)" />
		<input type="text"  value="{{ todo.name  }} - {{todo.isDone}}" />
		<button><a href="#/todos/{{todo._id}}/edit">
			Edit
		</a></button>
		<button><a href="#/todos/{{todo._id}}">
			Show
		</a></button>
		<button ng-click="deleteTodo(todo._id)">
			Delete
		</button>
		<!-- TODO Find a way to let the buttons move to another page and have the ability to Edit and Show a selected Todo -->
	</li>
	<!--Filters by the name properity that is in our model-->
</ul>
<br/>
<p>
	Total Todo(s): {{getTotalTodos()}}
</p>
<div id="unfinishedTodos">
	<p>
		Unfinished Todos: {{getTotalTodos() - getTotalCheckedTodos()}}
	</p>
	<div id="doneTodos">
		<p>
			Done Todo(s): {{getTotalCheckedTodos()}}
		</p>
	</div>
</div>